# shadcnblocks.com licensed registry API key (https://www.shadcnblocks.com -> Dashboard -> API Keys)
# Used by the shadcn CLI to install @shadcnblocks/* blocks. Starts with sk_live_.
# Copy this file to .env.local and fill in your key.
SHADCNBLOCKS_API_KEY=
